<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--        <meta name="_csrf" th:content="${_csrf.token}"/>
                <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
        <title>Event Management</title>
        <link th:href="@{/asset/EMS_Small.png}" href="../../static/asset/EMS_Small.png" rel="icon">
        <link th:href="@{/css/styles.css}" href="../../static/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid d-flex justify-content-center" layout:fragment="navbar">
            <h1>[[${pageTitle}]]</h1>
        </div>
        <div class="content d-flex justify-content-around" layout:fragment="content">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_5d6q5kkh.json" class="w-50" loop autoplay></lottie-player>
        </div>

        <script th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}" src="../../static/js/bootstrap.bundle.min.js"></script>
        <script th:src="@{/js/Chart.min.js}" src="../../static/js/Chart.min.js"></script>
        <script th:src="@{/js/adminlte.js}" src="../../static/js/adminlte.js"></script>
        <script th:src="@{/js/dashboard.js}" src="../../static/js/dashboard.js"></script>
        <script th:src="@{/js/sidebar.js}" src="../../static/js/sidebar.js"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script th:src="@{/js/sidebar.js}"></script>
    </body>
</html>