body {
    font-family: "Karla", sans-serif;
    background-color: #fff; }
  
  .login-card-wrapper {
    background-image: url(/static/asset/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: end;
            justify-content: flex-end; }
    @media (max-width: 575px) {
      .login-card-wrapper {
        padding-top: 16px;
        padding-bottom: 16px;
        -webkit-box-pack: center;
                justify-content: center; } }
  
  .login-card {
    width: 400px;
    max-width: 100%;
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 10px 0 rgba(174, 174, 174, 0.24);
    background-color: #fff;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
    @media (max-width: 767px) {
      .login-card {
        width: auto; } }
    @media (max-width: 575px) {
      .login-card {
        -webkit-transform: none;
                transform: none; } }
    .login-card .card-body {
      padding: 50px 50px 60px; }
    .login-card-title {
      font-size: 29px;
      text-align: center;
      font-weight: normal;
      color: #000;
      margin-bottom: 9px; }
    .login-card-description {
      font-size: 15px;
      color: #a0a0a0;
      text-align: center;
      font-weight: normal;
      margin-bottom: 25px; }
    .login-card .form-control {
      border: 1px solid #d5dae2;
      padding: 18px 25px;
      margin-bottom: 11px;
      border-radius: 4px;
      min-height: 55px;
      font-size: 15px;
      font-weight: normal; }
      .login-card .form-control::-webkit-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-moz-placeholder {
        color: #919aa3; }
      .login-card .form-control:-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::placeholder {
        color: #919aa3; }
    .login-card-check-box {
      padding-left: 27px; }
      @media (max-width: 767px) {
        .login-card-check-box {
          margin-bottom: 10px; } }
      .login-card-check-box .custom-control-label::before {
        width: 20px;
        height: 20px;
        border: solid 1px #d5dae2;
        left: -27px;
        top: 0px; }
      .login-card-check-box .custom-control-label::after {
        left: -27px;
        width: 20px;
        height: 20px;
        top: 0; }
    .login-card .login-btn {
      padding: 18px 20px;
      background-color: #6e00ff;
      border-radius: 4px;
      font-size: 17px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 18px; }
      .login-card .login-btn:hover {
        border: 1px solid #6e00ff;
        background-color: #fff;
        color: #6e00ff; }
    .login-card-footer-text {
      font-size: 18px;
      color: #a0a0a0;
      text-align: center;
      margin-bottom: 0; }
  
  .form-options-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: normal;
    color: #919aa3; }
    @media (max-width: 767px) {
      .form-options-wrapper {
        display: block; } }
  
  /*# sourceMappingURL=login.css.map */
  
.register-btn {
  background-color: #6e00ff;
  color: white;
  }
  .register-btn:hover {
      border: 1px solid #6e00ff;
      background-color: #fff;
      color: #6e00ff;
  }

  .register-card {
    width: 700px;
    max-width: 100%;
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 10px 0 rgb(174 174 174 / 24%);
    background-color: #fff;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }